@model IEnumerable<ToDo_Assignment.Models.ToDoModel>
@{
    ViewData["Title"] = "Home Page";
}


<script>
    function fun(id, status) {
        if (status == "Completed") {
            if (confirm("Do you want to update completed task to new???") == true) {
                callBackEnd(id, status);
            }
        }
        else {
            callBackEnd(id, status);
        }

        function callBackEnd(id, status) {
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "Home/updateData");

            var FN = document.createElement("input");
            FN.setAttribute("type", "text");
            FN.setAttribute("name", "id");
            FN.setAttribute("value", id.id);

            form.appendChild(FN);

            var FNN = document.createElement("input");
            FNN.setAttribute("type", "text");
            FNN.setAttribute("name", "status");
            FNN.setAttribute("value", status);

            form.appendChild(FNN);

            document.body.appendChild(form);
            form.submit();
        }

    }
</script>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 container ">

            <table class="table table-borderless bg-white " style="background-color: ghostwhite;">

                @{ int new_count = 0; }
                @foreach (var c in Model.Where(n => n.TStatus == "new"))
                {
                    new_count = new_count + 1;
                }
                <tr class="border-bottom">
                    <th>
                        To Do(@new_count)
                        <br>
                        <progress id="progress" value="@new_count" max="10" style="width: 100%;"></progress>
                    </th>
                </tr>
                <tr class="border-bottom">
                    <td> <a style="color: #10c3dc" data-toggle="modal" data-target="#myModal"><i class='fas fa-plus'></i>&nbsp;&nbsp;&nbsp;Add task</a></td>
                </tr>
                @foreach (var task in Model.Where(n => n.TStatus == "new"))
                {
                    <tr class="border-bottom">

                        @{
                            var shortDateValue = @task.DueDate.ToShortDateString(); }
                        <td>
                            <input id="@task.ID" class="input" type="checkbox" onclick="fun(this,'new')" name="task" value="@task.Task" />&nbsp;<span>@task.Task&nbsp;</span><span class="float-right"> @shortDateValue</span>
                            <p style="color:forestgreen"><b>Work: @task.AssignedTo</b></p>
                        </td>

                    </tr>

                }

            </table>
        </div>
        <div class="col-sm-4 ">
            <table class="table table-borderless bg-white " style="background-color: ghostwhite;">
                <tr class="border-bottom">
                    @{ int progress_count = 0; }
                    @foreach (var c in Model.Where(n => n.TStatus == "InProgress"))
                    {
                        progress_count = progress_count + 1;
                    }
                    <th>
                        In Progress(@progress_count)
                        <br>
                        <progress id="progress" value="@progress_count" max="10" style="width: 100%;"></progress>
                    </th>

                </tr>
                <tr class="border-bottom">
                    <th><p></p></th>
                </tr>
                @foreach (var task in Model.Where(n => n.TStatus == "InProgress"))
                {
                    <tr class="border-bottom">
                        @{
                            var shortDateValue = @task.DueDate.ToShortDateString(); }
                        <td>
                            <input id="@task.ID" class="input" type="checkbox" name="task" onclick="fun(this,'InProgress')" value="@task.Task" />&nbsp;<span>@task.Task&nbsp;</span><span class="float-right"> @shortDateValue</span>
                            <p style="color:forestgreen"><b>Work: @task.AssignedTo</b></p>
                        </td>

                    </tr>
                }

            </table>
        </div>
        <div class="col-sm-4">
            <table class="table table-borderless bg-white " style="background-color: ghostwhite;">
                <tr class="border-bottom">
                    @{ int completed_count = 0; }
                    @foreach (var c in Model.Where(n => n.TStatus == "Completed"))
                    {
                        completed_count = completed_count + 1;
                    }
                    <th>
                        Completed(@completed_count)
                        <br>
                        <progress id="progress" value="@completed_count" max="10" style="width: 100%;"></progress>
                    </th>
                </tr>
                <tr class="border-bottom">
                    <th><p></p></th>
                </tr>
                @foreach (var task in Model.Where(n => n.TStatus == "Completed"))

                {
                    <tr class="border-bottom">
                        @{
                            var shortDateValue = @task.DueDate.ToShortDateString(); }
                        <td>
                            <div>
                                <input id="@task.ID" style="background-color: green;" type="checkbox" name="task" onclick="fun(this,'Completed')" value="@task.Task" checked />&nbsp;<span>@task.Task&nbsp;</span><span class="float-right"> @shortDateValue</span>
                                <p style="color:forestgreen"><b>Work: @task.AssignedTo</b></p>
                            </div>
                        </td>

                    </tr>
                }
            </table>
        </div>
    </div>
</div>

<!--
<script>

    function check() {
        alert(document.getElementById("date").value);
    }
</script>
    -->
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header" style="background: #2cbac4;">
                <h4 class="modal-title">Add Task</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form class="form" method="post" action="Home/InsertEToDo">
                    <div class="form-group">
                        <label for="note">Task:</label>
                        <input type="text" class="form-control" id="note" placeholder="Name" required name="Task">
                    </div>
                    <div class="form-group">
                        <lable form="note">Description</lable>
                        <textarea rows="5" cols="60" class="form-control" id="Description" placeholder="Enter Work Description Here" required name="Description"> </textarea>
                    </div>
                    <div class="form-group">
                        <label for="note">Assigned To</label>
                        <input type="text" class="form-control" id="note" placeholder="Enter Assignee Name" required name="AssignedTo" />
                    </div>

                    <div class="form-group">
                        <label for="date">DueDate:</label>
                        <input type="datetime-local" class="form-control" id="date" placeholder="Enter date" required name="DueDate">
                    </div>
                    <p class="text-center">
                        <button type="submit" style="background-color:#4111f0; float:right" class="btn btn-success">Add</button>
                        <button type="button" style="background-color:gray; float:left" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </p>
                </form>
            </div>
        </div>

    </div>
</div>
