@model IEnumerable<ToDo_Assignment.Models.ToDoModel>

    

<table id="MicroGrid" cellpadding="0" cellspacing="0" class="display">
    <thead>
    <tr>
        <th>Id</th>
        <th>Task Name</th>
        <th>Assigned To</th>
         <th>Story Point</th>
         <th>Due Date</th>
        <th>Task result</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var task in Model)
    {
        <tr>
            <td>@task.ID</td>
            <td>@task.Task</td>
            <td>@task.AssignedTo</td>
            <td>@task.StoryPoints</td>
             <td>@task.DueDate</td>
            @{
                var status = "";
                if (task.DueDate < DateTime.Today && task.TStatus != "Completed")
                {
                    status = "Not Completed";
                }
                else if (task.TStatus == "new")
                {
                    status = "new";
                }
                else if (task.TStatus == "InProgress")
                {
                    status = "In Progress";
                }
                else
                {
                    status = "Completed";
                }
                <td>@status</td>
            }
            @*For Edit button in Grid*@
            <td><a href="" onclick="setData('@task.ID', '@task.Task', '@task.Description', '@task.AssignedTo','@task.StoryPoints', '@task.DueDate')" data-toggle="modal" data-target="#myModalview">Edit</a></td>
            @*For Delete button in Grid*@
            <td><a href="/Home/DeleteEToDo/@task.ID" onclick="return confirm('Really want to delete the task');" >Delete</a></td>
        </tr>
    }
    </tbody>
</table>
<script type="text/javascript">
  
    $('#MicroGrid').DataTable({
        "searching": true
        
    });
</script>